<footer class="footer" ng-click="vm.logoutpopup=!vm.logoutpopup; $event.preventDefault(); $event.stopPropagation();"  ng-controller="footerCtrl as vm" >
    
    <span>&copy; 2018 SwiftTrack V1.0&nbsp;&nbsp;&vellip;&nbsp;&nbsp;Licensed to {{vm.orgname}} &nbsp;&nbsp;&vellip;&nbsp;&nbsp;<span >LogOut</span></span>
    <div ng-show="vm.logoutpopup" class="popover fade bottom in" id="popover301935" style="position: absolute;opacity: 1;top: unset;margin-top: unset;bottom: 55px;display: block;left: 254px;height: auto;">
            <div class="arrow" style="left: 58%;top: 82px;position: absolute;color: #333;font-size: 25px;">
                <i class="icon ion-arrow-down-b"></i>
            </div>
            <h3 class="popover-title">Log out of SwiftTrack?</h3>
            <div class="popover-content">
                <a ng-click="vm.confirmlogout($event)" class="btn btn-warning m-rgt-10 btn-logout-confirm">Confirm</a>
                <a ng-click="vm.cancellogout()" id="cancelLogout" class="btn btn-cancel">Cancel</a>
            </div>
        </div>
</footer>
<!-- ng-show="vm.logoutpopup" -->