<style>
	.status-container * {
		font-family: Helvetica;
	}

	.btn-dash-module {
		color: black
	}
</style>

<ion-view cache-view="false">
	<div ng-include="'./app/header/header.html'"></div>
	<ion-content scroll="true">
		<section class="status-container">
			<div class="custom-modal" id="connectionModal"></div>
			<div id="main">
				<!--<ion-nav-bar class="nav-title-slide-ios7 bar-positive" ng - click="vm.logoutpopup=false">-->
				<!--	<ion-nav-back-button class="button-icon ion-arrow-left-c">-->
				<!--		<a class="btn btn-md btn-default btn-back2dash">-->
				<!--<i class="icon-arrow-left"></i> Back <span class="hide-on-phone">to Dashboard</span></a>-->
				<!--	</ion-nav-back-button>-->

				<!--	<header class="fixed-hdr">-->
				<!--		<div class="">-->
				<!--			<div class="">-->
				<!--				<img class="logo" src="https://app.swifttrack.co.uk/orgs/foo-3094kf304fk30kafskjfk3493ja0324r/media/settings/nf-logo.jpg" alt="logo">-->
				<!--			</div>-->
				<!--		</div>-->
				<!--		<div class="">-->
				<!--			<div class="top-r tr-single-btn">-->
				<!--				<a ng-click="vm.logoutpopup=!vm.logoutpopup; $event.preventDefault(); $event.stopPropagation();" class="btn-circ btn-top-r btn-logout">-->
				<!--				 <i class="icon-switch"></i>-->
				<!--				 </a>-->
				<!--				<div ng-show="vm.logoutpopup" class="popover fade bottom in" id="popover301935" style=" opacity:1;top: 90px; left: -88px; display:block; height:94px;margin-left: 0px;">-->
				<!--					<div class="arrow" style="left: 50%;">-->
				<!--						<i class="icon ion-arrow-up-b"></i>-->
				<!--					</div>-->
				<!--					<h3 class="popover-title">Log out of SwiftTrack?</h3>-->
				<!--					<div class="popover-content">-->
				<!--						<a ng-click="vm.confirmlogout($event)" class="btn btn-warning m-rgt-10 btn-logout-confirm">Confirm</a>-->
				<!--						<a ng-click="vm.cancellogout()" id="cancelLogout" class="btn btn-cancel">Cancel</a>-->
				<!--					</div>-->
				<!--				</div>-->
				<!--				<div class="avatar"><img ng-src="{{vm.userImageUrl}}" alt="User-Avatar"></div>-->
				<!--			</div>-->
				<!--		</div>-->
				<!--	</header>-->
				<div class="panel-container">
					<section class="panel">
						<div class="row">
							<div id="notifications-d-n" ng-if="vm.login_type!=='people'" ng-show="vm.usrNotBar" class="col-sm-12">
								<div class="alert alert-info">
									<span><strong>You are up to date: </strong> Hello,{{vm.userFirstName}}. You are ready to perform an assessment.</span>
									<a ng-click="vm.closeUsrNoti()" style="cursor:pointer" class="close">×</a>
								</div>
							</div>
							<div id="notifications" class="col-sm-12" style="display: block;">
								<div class="alert dash-top-alert"><span><strong>1 competency completed. </strong> You have competencies waiting to be signed off.</span> <a id="signOffBtn" class="btn btn-success btn-sm">Sign-off now</a></div>
							 </div>
							<div class="col-xs-12" style="min-height: 70vh;">
								<h3 class="dash-title Hel-font" ng-bind="vm.login_type!=='people'?'Job Roles':vm.full_name"> </h3>


								<!--ng repeat starts-->
								<div ng-repeat="(jobrolesKey,jobroles) in vm.fullresponseData">
									<h4 class="dash-title Hel-font">{{jobroles.jr_id}} <span>&vellip; {{jobroles.department}}</span></h4>
									<div class="dash-tabs" class="parentClass" id="parentId">
										<ul class="nav nav-tabs tabs">
											<li class="active"><a ng-click="vm.competencyBtn(jobrolesKey)"><strong>Competencies</strong> </a></li>
											<li ng-if="vm.login_type !== 'people'"><a ng-click="vm.peopleBtn(jobrolesKey)">People <span>{{vm.getlength(jobroles.people)}}</span></a></li>
											<li ng-if="vm.login_type == 'people'"><a ng-click="vm.progressreport(jobrolesKey)">My Progress Report</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active" id="competencies{{jobrolesKey}}">
												<div class="row">
													<div col-12 ng-repeat="(compentenciesKey,compentencies) in jobroles.competencies" class="col-md-12">
														<div class="dash-comp-title">
															<h4 ng-bind-html="compentenciesKey"></h4>
														</div>
														<a ng-repeat="moduleName in compentencies" ng-click="vm.goassessmentpage(jobrolesKey,moduleName.mod_id)" class="btn btn-default btn-dash-module col-lg-6 col-xs-12"><i class="ion-chevron-right"></i><span>{{moduleName.mod_name}}</span></a>
													</div>
												</div>
											</div>
											<div class="tab-pane" ng-if="vm.login_type !== 'people'" id="people{{vm.clearspace(jobrolesKey)}}">
												<div ng-repeat="(peopleKey,peoples) in jobroles.people" ng-click="document.location='https://swifttrack-agilexcyber.c9users.io/report/{{people.id}}/'" class="person-holder">
													<div class="p_perc">{{peoples[0].p_perc}}%</div>
													<div class="p_name">{{peoples[0].p_name+" "+peoples[0].last_name}}</div>
													<span class="person-disc" ng-click="vm.goreportpage(peoples[0].p_id)">
			                                   		<!--<img ng-src="{{peoples[0].p_image}}" alt="">-->
			                                   		<img ng-src="{{peoples[0].p_image == '' ? 'https://swifttrack-agilexcyber.c9users.io/frontend/img/no-img-person.jpg' : peoples[0].p_image  }}" alt="">
			                                    </span>
												</div>
											</div>
											<div class="tab-pane" ng-if="vm.login_type == 'people'" id="myprogressreport{{vm.clearspace(jobrolesKey)}}">
												<div role="tabpanel" class="tab-pane active" id="individualReport">
													<div class="dash-comp-title">
														<h4>See How You're Progressing</h4>
													</div>
													<p class="body-text">Your progress report shows you, in a glance, all of your expected module indicators, how you've been marked, any comments made and any evidence gathered to support your assessment.</p>
													<a class="btn btn-lg btn-primary" ng-click="document.location='https://swifttrack-agilexcyber.c9users.io/report/{{jobrolesKey}}/'">View My Progress Report Now</a>
													<div class="pad-60"></div>
													<div class="pad-60"></div>

												</div>
											</div>

										</div>
									</div>
								</div>

								<!--ng repeat ends-->
							</div>
							<div class="pad-60 pull-left"></div>
						</div>
					</section>
					<footer>&copy; 2018 SwiftTrack V1.1&nbsp;&nbsp;&vellip;&nbsp;&nbsp;Licensed to Food International</footer>
				</div>
			</div>
			<script type="text/javascript" src="../../js/main.js?r=M7WQ1ZRDDU59DY9G"></script>
		</section>
	</ion-content>
</ion-view>
<style type="text/css">
	.tab-pane {
		display: none;
	}

	.tab-pane.active {
		display: block;
	}
</style>
