<ion-view cache-view="false" class="people-reportpage">
	<button class="button back-button buttons button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack()">
        <a class="btn btn-md btn-default btn-back2dash">
				<i class="icon-arrow-left"></i> Back <span class="hide-on-phone">to Dashboard</span></a>
    <span class="back-text"></span></button>
	<header class="fixed-hdr">
		<div class="">
			<div class="">
				<img class="logo" src="https://app.swifttrack.co.uk/orgs/foo-3094kf304fk30kafskjfk3493ja0324r/media/settings/nf-logo.jpg" alt="logo">
			</div>
		</div>
		<div class="peopleprogressreport">
			<div class="top-r tr-single-btn">
				<a ng-click="vm.logoutpopup=!vm.logoutpopup; $event.preventDefault(); $event.stopPropagation();" class="btn-circ btn-top-r btn-logout">
			 <i class="icon-switch"></i>
			 </a>
				<div ng-show="vm.logoutpopup" class="popover fade bottom in" id="popover301935" style=" opacity:1;top: 90px; left: -88px; display:block; height:94px;margin-left: 0px;">
					<div class="arrow" style="left: 50%;">
						<i class="icon ion-arrow-up-b"></i>
					</div>
					<h3 class="popover-title">Log out of SwiftTrack?</h3>
					<div class="popover-content">
						<a ng-click="vm.confirmlogout($event)" class="btn btn-warning m-rgt-10 btn-logout-confirm">Confirm</a>
						<a ng-click="vm.cancellogout()" id="cancelLogout" class="btn btn-cancel">Cancel</a>
					</div>
				</div>
				<div class="avatar"><img ng-src="{{vm.userImageUrl}}" alt="User-Avatar"></div>
			</div>
		</div>
	</header>
	<ion-content scroll="true">
		<div class="panel-container peoplereport">
			<section class="panel">
				<div class="row">
					<div class="progress-report-head">
						<h3 class="dash-title">Progress Report</h3>
						<h4 class="dash-title">{{vm.report_response.person_name}}
							<span><span ng-bind="vm.report_response.jr_name?'&vellip;':''"></span> <span ng-bind="vm.report_response.jr_name"></span><span ng-bind="vm.report_response.jr_name?':':''"></span> <span ng-bind="vm.report_response.dept_sub"></span></span>
						</h4>
						<hr>
					</div>
					<div class="profile-image">
						<h3>Overview</h3>
						<div class="person-holder pull-right" data-id="1">
							<a class="person-disc">
					<img ng-src="{{vm.report_response.image}}" alt="">
					</a>
						</div>
					</div>
					<div class="pad-60 " style="height:auto">
						<div col-md-12 class="clearfix ">
							<div class="pull-left" style="width:100%;">
								<div ng-repeat="(overviewKey,overview) in vm.report_response.overview">
									<hr>
									<h3 class="mrgn-b-15" ng-bind-html="overview.comp_name"></h3>
									<div class="alert alert-warning" ng-if="overview.signed_off">
										<i class="icon-checkmark"></i>&nbsp;<strong>Signed off </strong>
										<span ng-bind-html="overview.signed_off.signedoffdate"></span> by
										<span ng-bind-html="overview.signed_off.assessor_name"></span> (assessor)
									</div>
									<div ng-repeat="(moduleKey,module) in overview.modules">
										<h5 class="mrgn-b-5">{{module.mod_name}}<span class="grey">({{module.m_ind_done_count}}/{{module.m_ind_count}})</span></h5>
										<div class="progress">
											<div class="progress-bar" ng-class="vm.setProgressBarColor(module.completed_perc) " role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{module.completed_perc}}%">{{module.completed_perc}} %</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="comp-block" style="" ng-repeat="(detailedReportKey,detailedReport) in vm.report_response.detailedReport">
				<h2 class="report-title" ng-bind="detailedReport.comp_name"></h2>
				<div ng-repeat="(moduleKey,module) in detailedReport.modules">
					<hr>
					<h3 class="report-title">{{module.mod_name}} <span class="grey">({{module.m_ind_done_count}}/{{module.m_ind_count}})</span></h3>
					<div class="report-block">
						<div class="report-row" ng-repeat="(indicatorkey,indicator) in module.indicators">
							<h4 class="report-title">{{indicator.indicatorTitle}}</h4>
							<div ng-if="indicator.is_q==true">
								<div ng-if="indicator.unanswered==true">
									<em class="grey">Unanswered</em>
								</div>
								<div ng-if="indicator.unanswered!==true">
									<div class="report-answer">
										<strong> Answer: </strong> <span ng-bind-html="indicator.answer"></span><em class="text-sm"> — {{indicator.auth}}</em>
									</div>
								</div>
							</div>
							<div ng-if="indicator.notes">
								<div class="report-notes" ng-repeat="note in indicator.notes">&ldquo;<span ng-bind-html="note.value"></span>&rdquo; <em class="text-sm">&mdash; {{note.auth}}</em></div>

							</div>
							<div class="score-box">
								<i class="icon-checkmark" style="color:rgb({{indicator.color}}) !important;"></i>
								<em class="">{{indicator.level}}</em>
							</div>

							<!-- <div class="report-media" ng-if="indicator.pdf || indicator.media"> -->
									<div class="report-media" ng-if="indicator.pdf || indicator.media">
									<span ng-if="indicator.pdf" ng-click="vm.reportvideoimagepdf(pdf.data_type,pdf.media_url)" ng-repeat="pdf in indicator.pdf" class="thu" data-type="{{pdf.data_type}}" data-path="{{pdf.media_url | filefilter}}">
										<img src="./img/icon-pdf.jpg" alt="">
									</span>
									<span ng-if="indicator.media" ng-click="vm.reportvideoimagepdf(media.data_type,media.media_url)" ng-repeat="media in indicator.media" class="thu" data-type="{{media.data_type}}" data-path="{{media.media_url | filefilter}}">
										<img ng-if="media.data_type == 'movie' " src="./img/icon-movie.jpg" alt="">
										<img ng-if="media.data_type == 'image' " ng-src="{{media.img_src | filefilter}}" alt="">
									</span>
									<!-- <a class="thu" data-type="movie" data-path="https://mobile.swifttrack.co.uk/orgs/foo-3094kf304fk30kafskjfk3493ja0324r/media/20170607_144927.mp4">
										<img src="./img/icon-pdf.jpg" alt="">
									</a> -->

								<!-- <div ng-repeat="pdf in indicator.pdf">
									<a class="thu" data-type='{{pdf.data_type}}' data-path="{{pdf.media_url | filefilter}}"><img ng-src="{{pdf.img_src}}" alt="" ng-click="vm.openimageModal(pdf.img_src)" ></a>
								</div>
								<div ng-repeat="media in indicator.media">
									<a class="thu" data-type='{{media.data_type}}' data-path="{{media.media_url | filefilter}}"><img ng-src="{{media.img_src}}" alt=""></a>
								</div> -->
							</div>
						</div>
						<!--ng-repeatend-->
					</div>
				</div>
				<!--ng-repeatend-->
			</div>

			<div class="pad-15"></div>
			<footer>&copy; 2018 SwiftTrack V1.1&nbsp;&nbsp;&vellip;&nbsp;&nbsp;Licensed to Food International</footer>
		</div>
		</div>
	</ion-content>

	
	<div ng-show="vm.reportvideoimagepdfpopup" id="mediaView" class="" style="height: auto;">
			<i class="icon-cancel-circle close-modal" ng-click="vm.reportmediaclose(vm.targetPath,$event)"></i>
			
			<div ng-if="vm.data_type == 'movie' " class="mv-content">
			<video controls ng-src="{{vm.targetPath}}"></video>     
			</div>

			<div ng-if="vm.data_type == 'pdf'" class="mv-content">
					<button ng-click="vm.prevPage()">&lt;</button>
					  <button ng-click="vm.nextPage()">&gt;</button>
					  <br>
					  <span>{{vm.currentPage}}/{{vm.totalPages}}</span>
					  <br>
					  <pdfviewer ng-src="{{vm.targetPath}}" on-page-load='vm.pageLoaded(page,total)' id="viewer"></pdfviewer>
			</div>

			<div ng-if="vm.data_type == 'image'" class="mv-content">
					<img controls ng-src="{{vm.targetPath}}"></img>     
					</div>
			
		 
		</div>
		 
</ion-view>
